.header {
    margin-bottom: 2rem;
    padding-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #333333;
    height: 60px;
}

.headerLeft > img {
    position: absolute;
    top: 10px;
    width: 70px;
}

.headerRight > a {
    text-decoration: none;
    color: white;
    
}


.headerRight > a > .MuiSvgIcon-root{
    margin-top: 0.5rem;
    font-size: 2rem;
}
